
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 300px;
}

button {
    margin: 0 10px;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}


body {
    width: 300px;
}

.form-row {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.dropdown-container{

    display: flex;
    align-items: center;
}

.dropdown-input{
    margin-right: 10px;
}

label {
    width: 150px;
    font-weight: bold;
}

input[type="text"],
input[type="email"],
select {
    padding: 8px;
    font-size: 16px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

button {
    font-size: 16px;
    border-radius: 4px;
    align-items: center;
}

button:hover {
    background-color: #45a049;
}

input[type="text"]:focus,
input[type="email"]:focus,
select:focus {
    outline: none;
    border-color: #4CAF50;
    box-shadow: 0 0 5px #4CAF50;
}

.search-input{
    margin-bottom: 25px;
    height: 15px;

}

.personFormNumber{
    margin-right: 20px;
    width: 35px;
}

.person-container {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.person-name {
    font-weight: bold;
    font-size: 15px;
    margin-right: 10px;
    width: 170px;
}

.save-button {
    margin-left: 200px;
    margin-top: 20px;
}

.view-button,
.del-button {
    padding: 8px 12px;
    font-size: 14px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.view-button {
    background-color: #4CAF50;
    color: white;
}

.view-button:hover {
    background-color: #45a049;
}

.del-button {
    background-color: #ff0000;
    color: white;
}

.del-button:hover {
    background-color: #fa0000;
}


